
{% extends 'base.html' %}
{% block content %}

  <div class="p-5 mb-4 bg-body-tertiary rounded-2">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold" style="color: #855d58; ">Personal Shopper </h1>
        <p class="col-md-8 fs-4" style="color:#fcb69f">Beauty ia about shopping <br>So let me assist you to reach out the completeness of shopping beauty </p>

      </div>
    </div>
<div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2 style="color: #855d58;">Brief description</h2>
          <p  style="color:#fcb69f">I'm Rahaf Abdullah <br> I have five years experience  in personal shopping and I help a lot of girls to achieve there style goal</p>
          <p  style="color:#fcb69f"> Location: medina </p>
          <br>
          <h3  style="color: #855d58;">For special order contact me!</h3>
          <button class="btn btn-outline-secondary" type="button" ><a href="mailto:rhaff2067@gmailcom" style="color:#fcb69f">Email Me </button>

        </div>
      </div>
    </div>
{% endblock %}
